{% extends 'base.html' %}
    {% block content %}

    <div class="header">
        <h1>Run an Analysis</h1>
        <p>Please Select an Analysis to Run</p>
    </div>
    <div class="content">
        <button class="button" type="submit" name="display">
            Display Last # Rows
        </button><br>
        <button class="button" type="submit" name="show">
            Show Functioning Policies
        </button><br>
        <button class="button" type="submit" name="polcount">
            Employee Policy Count
        </button><br>
        <button class="button" type="submit" name="colerr">
            Column Error Count
        </button><br>
        <button class="button" type="submit" name="errors">
            Find Errors
        </button><br>
        <button class="button" type="submit" name="sus">
            Find Suspicious Activity
        </button><br>
        <button class="button" type="submit" name="wordC">
            Make WordCloud
        </button><br>
        <button class="button" type="submit" name="back"
            onclick="window.location.href='/home/'">
            Back
        </button><br>
    </div>
    {% endblock %}