{% extends 'base.html' %}
    {% block content %}
    <div class="header">
            <h1>Welcome, Name goes here</h1>
            <p>Please make a selection</p>
        </div>
        <div class="content">
            <button class="button" type="submit" name="create"
                    onclick="window.location.href='/home/create'">
                Create New Rule
            </button><br>
            <button class="button" type="submit" name="create"
                    onclick="window.location.href='/home/request'">
                Submit New Request
            </button><br>
            <button class="button" type="submit" name="run"
                    onclick="window.location.href='/home/analysis'">
                Run an Analysis
            </button><br>
            <button class="button" type="submit" name="proc"
                onclick="window.location.href='/home/processed'">
                Processed Info
            </button><br>
            <button class="button" type="submit" name="user"
                    onclick="window.location.href='/home/user'">
                User Options
            </button><br>
        </div>
    {% endblock %}