{% extends 'base.html' %}
    {% block content %}
    <div class="header">
            <h1>Welcome to our Capstone Project</h1>
            <p>Chris Brown & Dakota Thompson</p>
        </div>
        <div class="content">
            <button class="button" type="submit" name="create"
                    onclick="window.location.href='/home/create'">
                Create New Rule
            </button><br>
            <button class="button" type="submit" name="run"
                    onclick="window.location.href='/home/analysis'">
                Run an Analysis
            </button><br>
            <button class="button" type="submit" name="proc">
                Processed Info
            </button><br>
            <button class="button" type="submit" name="user"
                    onclick="window.location.href='/home/user'">
                User Options
            </button><br>
        </div>
    {% endblock %}