{% extends 'base.html' %}
    {% block content %}
    <div class="header">
        <h1>User Options</h1>
        <p>Please Select from the Following Options:</p>
    </div>
    <div class="content">
        <button class="button" type="submit" name="creuse"
                onclick="window.location.href='/home/user/create'">
            Create User
        </button><br>
        <button class="button" type="submit" name="moduse"
                onclick="window.location.href='/home/user/modify'">
            Modify User
        </button><br>
        <button class="button" type="submit" name="disuse"
                onclick="window.location.href='/home/user/display'">
            Display Users
        </button><br>
        <button class="button" type="submit" name="deluse"
                onclick="window.location.href='/home/user/delete'">
            Delete User
        </button><br>
        <button class="button" type="submit" name="back"
                onclick="window.location.href='/home/'">
            Back
        </button><br>
    </div>
    {% endblock %}

